node_modules
**/node_modules
dist
**/dist
.git
.tools
.android
build
**/build
.lynxship
**/.lynxship
credentials.dpapi.json
.credentials.dpapi.json
r2.json
**/android/.gradle
**/android/app/build
**/android/app/src/main/assets/main.lynx.bundle
**/android/keystore
**/.credentials.dpapi.json
**/r2.json
**/local.properties
.env
.env.*
*.log
*.tsbuildinfo
