.git
.lynxship
.openai
coverage
dist
node_modules
**/node_modules/**
build
.tools
.tools/**
.android
.android/**
examples/lynx-android-demo/android/app/build
examples/lynx-android-demo/android/.gradle
examples/lynx-basic-template/**
examples/lynx-community-crossplatform/**
**/android/app/build/**
**/android/.gradle/**
*.tsbuildinfo
pnpm-lock.yaml
**/generated/**
